.container {
  padding: 1rem;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .details {
  width: 50%;
  align-items: center;
  justify-content: center;
}
.details h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #bbb;
}

.details input,
textarea {
  width: 100%;
  border: 2px solid #dfdfdf;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #888;
}
.details input {
  padding-left: 2rem;
}
.details textarea {
  max-width: 100%;
  width: 100%;
  height: 10rem;
  padding: 2rem;
  box-sizing: border-box;
}
.details input:focus,
textarea:focus {
  border-color: #71ccd5;
  outline: none;
}

.container .imagesArea {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagesArea .buttons button {
  padding: 2rem;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  border: dashed 2px #91c7d263;
  background-color: #dcf9ff21;
  border-radius: 10%;
}
.imagesArea .buttons input {
  text-decoration: none;
  color: red;
  display: none;
}

.imagesArea .images {
  max-height: 15rem;
  margin-top: 2rem;
  overflow-y: auto;
  background-color: #71ccd5;
  border: dashed 2px #91c7d263;
  background-color: #dcf9ff21;
  background-attachment: fixed;
  width: 80%;
}
.images .uploads {
  display: flex;
  flex-direction: column;
}
.images img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  object-fit: cover;
  border: dashed 2px #4c98a763;
  background-color: #dcf9ff21;
}
.images button {
  padding: 8px 12px;
  border: 0;
  color: white;
  border-radius: 7px;
  background: #9a94ef;
  font-size: 12px;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.images button:hover {
  background-color: #9b5de5;

  color: white;
}

.images::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.images {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.formSubmitButton {
  margin: auto;
  text-align: center;
}

.formSubmitButton button {
  padding: 8px 12px;
  border: 0;
  color: white;
  border-radius: 7px;
  background: #9a94ef;
  font-size: 12px;
  cursor: pointer;
  width: 50%;
}
