.container {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  box-sizing: border-box;
}
