.navContainer {
  background-color: rgb(254, 254, 254);
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(222, 225, 227);
}
.navContainer .logo {
  height: 100%;
  max-width: 5rem;
  margin-left: 2rem;
  background-color: rgb(254, 254, 254);
}
.navContainer .menuButtons {
  background-color: rgb(254, 254, 254);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menuButtons .searchMenuButton {
  scale: 1.5;
  margin-right: 5rem;
}
.menuButtons .auth {
  margin-right: 2rem;
  background-color: aqua;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 10%;
}

.auth:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.searchMenuButton:hover {
  cursor: pointer;
  color: blue;
}

.menuButtons .sunnyMenuButton {
  scale: 1.5;
  margin-right: 5rem;
}
.sunnyMenuButton:hover {
  cursor: pointer;
  color: blue;
}

.menuButtons .sidebarMenuButton {
  scale: 1.5;
  margin-right: 5rem;
}
.sidebarMenuButton:hover {
  cursor: pointer;
  color: blue;
}
.sloganContainer {
  width: 100%;
  height: 7.5rem;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.slogan {
  width: 100%;
  text-align: center;
}
.slogan h1 {
  color: rgb(18, 23, 26);
  font-weight: 600;
  line-height: 3.25;
  letter-spacing: 0;
}
